# Time series  analysis about skypee data

In [1]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm
# special matplotlib argument for improved plots
from matplotlib import rcParams

## read orders

In [2]:
df =pd.ExcelFile('C:/Users/AlexMerhoom/Desktop/orders.xlsx')
orders  = df.parse(0)

In [3]:
orders.head(1)

,id_order,creation_date,method,key_status,sent_price,sent_vat,sent_ccy
0,00029e4f4cd704f71a9e0046a932dcdf,2013-04-03 14:12:25.013448+00,VISA,5,10,1.5,EUR

In [4]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
id_order         1048575 non-null object
creation_date    1048575 non-null object
method           1048553 non-null object
key_status       1048575 non-null int64
sent_price       1048568 non-null float64
sent_vat         1048568 non-null float64
sent_ccy         1048575 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 64.0+ MB

# check if there is any duplicated ID who made several payments

In [32]:
order_id = orders.id_order

In [33]:
order_id.head(1)

0    00029e4f4cd704f71a9e0046a932dcdf
Name: id_order, dtype: object

In [34]:
order_id[order_id.duplicated()]

2484     007fe80fc80dbf925addfa4e42c1b916
4102     010fb2b121334605b93d8b784dbe5756
4103     010fb2b121334605b93d8b784dbe5756
4174     0112d174bd3393e6bdd0173bfab5fed8
4207     0106ba20c97ac9e4d1935b900f0e0529
4208     0106ba20c97ac9e4d1935b900f0e0529
4209     0106ba20c97ac9e4d1935b900f0e0529
4210     0106ba20c97ac9e4d1935b900f0e0529
7043     01bab00247090e7c1edfc067fc021dd0
14063    03589079153fd6c7497a5ac6d55adc0b
14064    03589079153fd6c7497a5ac6d55adc0b
14065    03589079153fd6c7497a5ac6d55adc0b
20511    04d0d8a08ba5f29bf1e27a6575e205e3
28968    06c910a43fb880682c294301b65fbaac
38216    08f34869508c4994484e025b020b44a9
41941    0a25c242eb13878b5cf051596c8cce61
44014    0a50bd64992821d4b0093c1b7a0e9e50
Name: id_order, dtype: object

# drop ID column

In [35]:
orders.drop(orders.columns[[0]], axis=1, inplace=True)

In [36]:
orders.head(1)

,creation_date,method,key_status,sent_price,sent_vat,sent_ccy
0,2013-04-03 14:12:25.013448+00,VISA,5,10,1.5,EUR

## Read status code and status

In [5]:
status_code = pd.read_csv("C:/Users/AlexMerhoom/Desktop/order_statuses.csv")

In [6]:
status_code.head()

   id_status             status
0          0          INITIATED
1          1            CREATED
2          2        SENT_TO_PSP
3          3    PAYMENT_PENDING
4          4  PAYMENT_CONFIRMED

### Change column name in status table

In [7]:
status_code.rename(columns={'id_status':'key_status'}, inplace=True)

In [8]:
status_code.head()

   key_status             status
0           0          INITIATED
1           1            CREATED
2           2        SENT_TO_PSP
3           3    PAYMENT_PENDING
4           4  PAYMENT_CONFIRMED

# Read Exchange ratio

In [9]:
ratio = pd.read_csv("C:/Users/AlexMerhoom/Desktop/exchange_rate.csv")

In [10]:
ratio

   EXCHANGE_RATE        RATIO
0            USD     1.000000
1            EUR     0.779879
2            KRW  1111.900000
3            HKD     7.763350
4            PLN     3.258850
5            TWD    29.860000
6            DKK     5.814400
7            CHF     0.948950
8            NOK     5.845600
9            SEK     6.524150
10           JPY    94.215000
11           AUD     0.960154
12           CAD     1.017400
13           BRL     2.022150
14           GBP     0.657657

In [12]:
ratio.rename(columns={'EXCHANGE_RATE':'sent_ccy'}, inplace=True)

# Merge status into orders.

In [38]:
orders2 = orders.merge(status_code, on='key_status', how='left')

In [40]:
orders2.head()

,creation_date,method,key_status,sent_price,sent_vat,sent_ccy,status
0,2013-04-03 14:12:25.013448+00,VISA,5,10.00,1.5000,EUR,DELIVERED
1,2013-03-30 19:58:50.219921+00,VISA,2,10.00,0.0000,USD,SENT_TO_PSP
2,2013-03-25 15:44:08.454227+00,VISA,5,10.00,1.5000,GBP,DELIVERED
3,2013-03-25 13:57:38.56648+00,VISA,5,84.95,12.7425,SEK,DELIVERED
4,2013-03-31 08:58:33.625369+00,ECMC,5,10.00,0.0000,EUR,DELIVERED

# Merge ratio into orders

In [41]:
orders3 = orders2.merge(ratio, on='sent_ccy', how='left')

In [42]:
orders3.head()

,creation_date,method,key_status,sent_price,sent_vat,sent_ccy,status,RATIO
0,2013-04-03 14:12:25.013448+00,VISA,5,10.00,1.5000,EUR,DELIVERED,0.779879
1,2013-03-30 19:58:50.219921+00,VISA,2,10.00,0.0000,USD,SENT_TO_PSP,1.000000
2,2013-03-25 15:44:08.454227+00,VISA,5,10.00,1.5000,GBP,DELIVERED,0.657657
3,2013-03-25 13:57:38.56648+00,VISA,5,84.95,12.7425,SEK,DELIVERED,6.524150
4,2013-03-31 08:58:33.625369+00,ECMC,5,10.00,0.0000,EUR,DELIVERED,0.779879

In [43]:
orders4 = orders3

In [44]:
orders3.head()

,creation_date,method,key_status,sent_price,sent_vat,sent_ccy,status,RATIO
0,2013-04-03 14:12:25.013448+00,VISA,5,10.00,1.5000,EUR,DELIVERED,0.779879
1,2013-03-30 19:58:50.219921+00,VISA,2,10.00,0.0000,USD,SENT_TO_PSP,1.000000
2,2013-03-25 15:44:08.454227+00,VISA,5,10.00,1.5000,GBP,DELIVERED,0.657657
3,2013-03-25 13:57:38.56648+00,VISA,5,84.95,12.7425,SEK,DELIVERED,6.524150
4,2013-03-31 08:58:33.625369+00,ECMC,5,10.00,0.0000,EUR,DELIVERED,0.779879

## convert price amount into USD currency

In [45]:
orders4.sent_price = orders4.sent_price * orders4.RATIO

In [46]:
orders4.sent_vat = orders4.sent_vat * orders4.RATIO

In [47]:
orders4.head()

,creation_date,method,key_status,sent_price,sent_vat,sent_ccy,status,RATIO
0,2013-04-03 14:12:25.013448+00,VISA,5,7.798791,1.169819,EUR,DELIVERED,0.779879
1,2013-03-30 19:58:50.219921+00,VISA,2,10.000000,0.000000,USD,SENT_TO_PSP,1.000000
2,2013-03-25 15:44:08.454227+00,VISA,5,6.576568,0.986485,GBP,DELIVERED,0.657657
3,2013-03-25 13:57:38.56648+00,VISA,5,554.226542,83.133981,SEK,DELIVERED,6.524150
4,2013-03-31 08:58:33.625369+00,ECMC,5,7.798791,0.000000,EUR,DELIVERED,0.779879

In [48]:
orders4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
creation_date    1048575 non-null object
method           1048553 non-null object
key_status       1048575 non-null int64
sent_price       1048568 non-null float64
sent_vat         1048568 non-null float64
sent_ccy         1048575 non-null object
status           1048575 non-null object
RATIO            1048575 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 72.0+ MB

# Drop un-necessary columns

In [49]:
orders4.drop(orders4.columns[[2]], axis=1, inplace=True)

# Convert date from string into datestamp

In [50]:
orders4['creation_date'] = pd.to_datetime(orders4['creation_date'])

In [51]:
orders4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
creation_date    1048575 non-null datetime64[ns]
method           1048553 non-null object
sent_price       1048568 non-null float64
sent_vat         1048568 non-null float64
sent_ccy         1048575 non-null object
status           1048575 non-null object
RATIO            1048575 non-null float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 64.0+ MB

In [52]:
orders4.head()

,creation_date,method,sent_price,sent_vat,sent_ccy,status,RATIO
0,2013-04-03 14:12:25.013448,VISA,7.798791,1.169819,EUR,DELIVERED,0.779879
1,2013-03-30 19:58:50.219921,VISA,10.000000,0.000000,USD,SENT_TO_PSP,1.000000
2,2013-03-25 15:44:08.454227,VISA,6.576568,0.986485,GBP,DELIVERED,0.657657
3,2013-03-25 13:57:38.566480,VISA,554.226542,83.133981,SEK,DELIVERED,6.524150
4,2013-03-31 08:58:33.625369,ECMC,7.798791,0.000000,EUR,DELIVERED,0.779879

# Groupby Method

In [53]:
orders4.groupby(['method']).size()

method
AMEX           14883
CARTEBLEUE      2241
CB              3785
DINERS         17043
ECMC          298269
JCB             4326
VISA          708006
dtype: int64

# Groupby Status

In [55]:
orders4.groupby(['status']).size()

status
CANCELLED                 20154
CHARGED_BACK                 62
CHARGE_BACK_INITITAED        36
CREATED                     419
DELIVERED                693822
PAYMENT_PENDING              23
PAYMENT_REFUSED          127644
PSP_ERROR                  7751
REFUNDED                    431
REVERSED                   3123
SENT_FOR_CANCEL              12
SENT_FOR_REFUND              70
SENT_FOR_REVERSE             46
SENT_TO_PSP              194982
dtype: int64

17.April 2015 --Jiahong Wang