In [1]:
import pyodbc

ImportError: No module named pyodbc

In [ ]:
connSqlServer = pyodbc.connect(
    'DRIVER={SQL Server Native Client 10.0};
    SERVER=127.0.0.1;DATABASE=master;INSTANCE=instance1;UID=root;PWD=zs152534;Trusted_Connection=yes')

In [ ]:
cursorObj.execute("select * from sys.dm_os_sys_info")
row = cursorObj.fetchone()
print("rows from table ",row)

In [6]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm
# special matplotlib argument for improved plots
from matplotlib import rcParams

In [9]:
df =pd.ExcelFile('C:/Users/AlexMerhoom/Desktop/orders.xlsx')

In [10]:
orders  = df.parse(0)

In [11]:
orders.head()

,id_order,creation_date,method,key_status,sent_price,sent_vat,sent_ccy
0,00029e4f4cd704f71a9e0046a932dcdf,2013-04-03 14:12:25.013448+00,VISA,5,10.00,1.5000,EUR
1,000416c0fccfacd10280316a2ec8ef4a,2013-03-30 19:58:50.219921+00,VISA,2,10.00,0.0000,USD
2,0007e18993ba0df75829622f563d3112,2013-03-25 15:44:08.454227+00,VISA,5,10.00,1.5000,GBP
3,000170ffd2097c9937d265ef44aafa02,2013-03-25 13:57:38.56648+00,VISA,5,84.95,12.7425,SEK
4,0000a716ebd303aa3fd7c05077df6403,2013-03-31 08:58:33.625369+00,ECMC,5,10.00,0.0000,EUR

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
id_order         1048575 non-null object
creation_date    1048575 non-null object
method           1048553 non-null object
key_status       1048575 non-null int64
sent_price       1048568 non-null float64
sent_vat         1048568 non-null float64
sent_ccy         1048575 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 64.0+ MB